body { background: #38da24; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 55px; display: flex; }
.block-filter-0 { color: #9244ce; font-size: 16px; margin-bottom: 5px; }
.block-uploader-1 { color: #dec82c; font-size: 13px; margin-bottom: 5px; }
.block-config-2 { color: #c9374d; font-size: 20px; margin-bottom: 5px; }
.block-token-3 { color: #fbce9b; font-size: 15px; margin-bottom: 5px; }
.block-cache-4 { color: #b1e16f; font-size: 14px; margin-bottom: 5px; }